@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Source+Sans+Pro:wght@200&display=swap');

body {
  background-color: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Source Sans Pro', sans-serif;
}

.nav-item {
  background-color: transparent !important;
}

.nav-item > .active {
  transition: 0.2;
  border-bottom: 2px solid #d4af7a !important;
}

.nav-link {
  color: #cfcfcf !important;
  background-color: transparent !important;
}

.div-btn-logout{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 0 0 0;
}

.btn-logout, .btn-submit {
  border: none;
  outline: none;
  color: #fff;
  background-color: #d4af7a;
  border-radius: 10px;
  height: 40px;
  width: 80px;
}

.btn-logout:hover, .btn-submit:hover {
  background-color: #f7b861;
}

.btn-submit {
  height: 40px;
  width: 100px;
}

#form-add-pet {
    padding: 25px;
    border-radius: 10px;
}

.show-pets {
  margin: auto;
}

.pet-card {
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
  background-color: #d4af7a;
  width: 100%;
}

.pet-card-foto {
  position: relative;
  top:-58px;
  left:-58px;
  max-width: 250px;
  min-width: 150px;
}
.pet-card-foto img {
  border-radius: 100%;
  border: 5px solid #f3dfc4;
}

.pet-card-info {
  font-weight: bold;
}

.pet-card-top {
  right: 10px;
  position: relative;
  z-index: 0;
}

.pet-card-top * {
  width: 50px;
  height: 50px;
}

.modal-bg{
  background-color:#555555;
  padding: 10px;
}

.no-border {
  border:none;
}

.btn{
  box-shadow: 2px 2px 2px 1px #383838 !important;
  outline: none;
  border: none;
}

.t-danger {
  color: #d9534f !important;
}

.user-card {
  display: absolute;
  top: 0;

}

.btn-edit-pet{
  border: none;
  transition: 0.5s;
  background-color: #f3dfc4;
}

.btn-edit-pet:hover{
  transition: 0.5s;
  background-color: #ffffff;
}

.user-card {
  display: relative;
  top: -50px;
  max-width: 350px;
  text-align: center;
  margin: auto;
  border-radius: 0 0 15px 15px;
  background-color: #d4af7a;
  
}

.user-card p {
  font-size:2em;
  font-weight:700;
}


.user-card span {
  font-weight:300;
  font-size:1em;
}

.btn-edit-pet{
  box-shadow: none !important;
  border: none;
  transition: 0.5s;
  background-color: #fff0d9;
}

.btn-edit-pet:hover{
  box-shadow: 2px 2px 2px 2px #707070 !important;
  transition: 0.5s;
  background-color: #ffffff;
}

#form-cadastrar-pet{
  background: #404040;
  padding: 15px;
  border-radius: 10px;
}